
<link rel="stylesheet" href="/static/css/footer.css">
   <!-- Footer -->
   <footer class="text-center text-lg-start text-muted" style="background-color: #F9F4D9;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4" style="border-bottom:1px solid black;">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block" >
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/people/%EB%82%9A%EB%8B%B9/100084519107721/"  target="_blank" class="me-4 link-grayish" style="color: black;" onmouseover="this.style.color='#87C228'" onmouseout="this.style.color='black'">
            <i class="fa-brands fa-facebook" style="color: black;" onmouseover="this.style.color='#87C228'" onmouseout="this.style.color='black'"></i>
        </a>
        <a href="https://www.instagram.com/nackdang_fake/"  target="_blank" class="me-4 link-grayish" style="color: black;" onmouseover="this.style.color='#87C228'" onmouseout="this.style.color='black'">
          <i class="fa-brands fa-instagram" style="color: black;" onmouseover="this.style.color='#87C228'" onmouseout="this.style.color='black'" ></i>
        </a>
        <a href="https://github.com/cualestunombre/Lettuce"   target="_blank" class="me-4 link-grayish" style="color: black;" onmouseover="this.style.color='#87C228'" onmouseout="this.style.color='black'">
          <i class="fa-brands fa-github" style="color: black;" onmouseover="this.style.color='#87C228'" onmouseout="this.style.color='black'"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class=""  >
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3" >
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: black;">
              <img src="/static/image/icon.png" style="width: 25px; height: 30px;">  LETTUCE
            </h6>
            <p>
              1조 프로젝트 LETTUCE 입니다.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: black;">
             Stack
            </h6>
            <p>
             Node.js
            </p>
            <p>
             Jquery
            </p>
            <p>
             JavaScript
            </p>
            <p>
            HTML5, CSS, Github
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: black;">
              Team
            </h6>
            <p>
              <a href="https://github.com/Malbongs" target="_blank" class="text-reset">KDT2nd_최준현</a>
            </p>
            <p>
              <a href="https://github.com/cualestunombre" target="_blank" class="text-reset">KDT2nd_우석우</a>
            </p>
            <p>
              <a href="https://github.com/cge1023" target="_blank" class="text-reset">KDT2nd_최고은</a>
            </p>
            <p>
              <a href="https://github.com/Ungzzi" target="_blank" class="text-reset">KDT2nd_정지웅</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: black;">Contact</h6>
            <p><i class="fas fa-home me-3 text-grayish"></i> Korea, Seoul, KDT </p>
            <p>
              <i class="fas fa-envelope me-3 text-grayish"></i>
              lettuce@example.com
            </p>
            <p><i class="fas fa-phone me-3 text-grayish"></i>010-0000-0000</p>
            <p><i class="fas fa-print me-3 text-grayish"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <!-- <div class="text-center p-4" style="background-color: #87C228; color: black;">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://sgma.io/">어신.com</a>
    </div>
    Copyright -->
  </footer>
  <!-- Footer -->