<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/db7bfd8989.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>
    <%-include('navbar.ejs') %>
    <div class="main"></div>
    <% if( code == 400 ) { %>
        <div class="con">
            <div class="noFollowers">
                <p class="noFollowText">팔로우 중인 사람이 없어요!</p>
                <p class="subText">팔로워를 추가해서 사람들과 소통해 보세요!</p>
            </div>
        </div>
    <% } %>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="more">
        <p class="virtual"></p>
        <div class="square dnone">
          <div class="spin"></div>
        </div>
      </div>
    <script src="../static/js/searchUser.js"></script>
    <script>
        let cnt=0;
        const $list = document.querySelector(".main");
        function loadItems(number) {
            new Promise((resolve) => {
            document.querySelector(".square").classList.remove("dnone");
            setTimeout(async() => {
            const data = await axios.get(`/fpost/?cnt=${cnt}`);
            cnt+=1;
        resolve(data.data);
        }, 1000);
        }).then((data) => {
            if(data.code==200){
                const main = document.querySelector(".main");
                data.data.forEach(ele=>{
                    const card = document.createElement("div");
                    card.classList.add("card");
                    const header = document.createElement("header");
                    const profile = document.createElement("img");
                    profile.setAttribute("src",ele['User.profile']);
                    const nickName = document.createElement("span");
                    nickName.innerText=ele['User.nickName'];
                    const createdAt = document.createElement("span");
                    createdAt.innerText=ele.createdAt;
                    header.appendChild(profile);
                    header.appendChild(nickName);
                    header.appendChild(createdAt);
                    card.appendChild(header);
                    ele.src.forEach(element=>{
                       if(element.type="img"){
                           const cardImg = document.createElement("div");
                           cardImg.classList.add("card_image");
                           const img = document.createElement("img");
                           img.setAttribute("src",element.src);
                           cardImg.appendChild(img);
                           card.appendChild(cardImg);
                       } 
                       else{
                           const cardImg = document.createElement("div");
                           cardImg.classList.add("card_image");
                           const video = document.createElement("video");
                           const source = document.createElement("source");
                           source.setAttribute("src",element.src);
                           source.setAttribute("type","mp4");
                           video.appendChild(source);
                           cardImg.appendChild(video);
                           card.appendChild(cardImg);
                       }
                    });
                    card.innerHTML+=`<div class="info">
                        <div class="info_left">
                            <i class="far fa-heart"></i>
                            <i class="far fa-comment"></i>
                            
                        </div>
                        <div class="info_right">
                            <i class="far fa-bookmark"></i>
                        </div>
                    </div>`;
                    card.innerHTML+=` <div class="comment">
                        ${ele.content}
                    </div>`;
                    card.innerHTML+=`<div class="comment_form">
                        <form action="">
                            <input id="re" type="text" placeholder="댓글 입력..">
                            <button type="button">등록</button>
                        </form>
                    </div>`;
                    main.appendChild(card);


                });

        }
            else{
                intersectionObserver.unobserve(document.querySelector(".virtual"));
            }
            document.querySelector(".square").classList.add("dnone");

        });
        }

        const intersectionObserver = new IntersectionObserver(function (entries) {
  
        if (entries[0].intersectionRatio <= 0) return;
        loadItems(20);
        console.log("Loaded new items");
        });
// start observing
    intersectionObserver.observe(document.querySelector(".virtual"));

    </script>

<script>

</script>
</body>

</html>