<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/db7bfd8989.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>
<body>
    <%-include('navbar.ejs') %>
    <div class="main"></div>
    <% if( code == 400 ) { %>
        <div class="con">
            <div class="noFollowers">
                <p class="noFollowText">팔로우 중인 사람이 없어요!</p>
                <p class="subText">팔로워를 추가해서 사람들과 소통해 보세요!</p>
            </div>
        </div>
    <% } %>
    
      <div class="more">
        <p class="virtual"></p>
        <div class="square dnone">
          <div class="spin"></div>
        </div>
      </div>
    <script src="../static/js/searchUser.js"></script>
    <script>
        let cnt=0;
        const $list = document.querySelector(".main");
        function loadItems(number) {
            new Promise((resolve) => {
            document.querySelector(".square").classList.remove("dnone");
            setTimeout(async() => {
            const data = await axios.get(`/fpost/?cnt=${cnt}`);
            cnt+=1;
        resolve(data.data);
        }, 1000);
        }).then((data) => {
            if(data.code==200){
                const main = document.querySelector(".main");
                data.data.forEach(ele=>{
                    const card = document.createElement("div");
                    card.classList.add("card");
                    const header = document.createElement("header");
                    const profile = document.createElement("img");
                    profile.setAttribute("src",ele['User.profile']);
                    const nickName = document.createElement("span");
                    nickName.innerText=ele['User.nickName'];
                    const createdAt = document.createElement("span");
                    createdAt.innerText=ele.createdAt;
                    header.appendChild(profile);
                    header.appendChild(nickName);
                    header.appendChild(createdAt);
                    card.appendChild(header);
                    const carousel = document.createElement("div");
                    carousel.setAttribute("id",`a${ele.id}`);
                    carousel.setAttribute("class","carousel slide");
                    carousel.setAttribute("data-ride","carousel");
                    const wrapper = document.createElement("div");
                    wrapper.setAttribute("class","carousel-inner");
                    ele.src.forEach(element=>{
                       if(element.type="img"){
                           const Img = document.createElement("div");
                           Img.setAttribute("class","carousel-item active");
                           const img = document.createElement("img");
                           img.setAttribute("src",element.src);
                           img.setAttribute("alt",'...');
                           img.setAttribute("class", "d-block w-100");
                           Img.appendChild(img);
                           wrapper.appendChild(Img);
                       } 
                       else{
                           const Img = document.createElement("div");
                           Img.setAttribute("class","carousel-item active")
                           Img.setAttribute("data-carousel-item");
                           const video = document.createElement("video");
                           const source = document.createElement("source");
                           source.setAttribute("src",element.src);
                           source.setAttribute("type","mp4");
                           video.appendChild(source);
                           Img.appendChild(video);
                           wrapper.appendChild(Img);
                       }
                    });
                    carousel.appendChild(wrapper);
                    carousel.innerHTML+=`<button class="carousel-control-prev" type="button" data-bs-target="#a${ele.id}" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </button> <button class="carousel-control-next" type="button" data-bs-target="#a${ele.id}" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button></div>
                    `;
                    card.appendChild(carousel);
                    card.innerHTML+=`<div class="info">
                        <div class="info_left">
                            <i onclick="like(event)" url="${ele.id}" class="far fa-heart"></i>
                            <i class="far fa-comment"></i>
                            
                        </div>
                        <div class="info_right">
                            <i class="far fa-bookmark"></i>
                        </div>
                    </div>`;
                    card.innerHTML+=` <div class="comment">
                        ${ele.content}
                    </div>`;
                    card.innerHTML+=`<div class="comment_form">
                        <form action="">
                            <input id="re" type="text" placeholder="댓글 입력..">
                            <button type="button">등록</button>
                        </form>
                    </div>`;
                    main.appendChild(card);


                });

        }
            else{
                intersectionObserver.unobserve(document.querySelector(".virtual"));
            }
            document.querySelector(".square").classList.add("dnone");

        });
        }

        const intersectionObserver = new IntersectionObserver(function (entries) {
  
        if (entries[0].intersectionRatio <= 0) return;
        loadItems(20);
        console.log("Loaded new items");
        });
// start observing
    intersectionObserver.observe(document.querySelector(".virtual"));

    </script>
    
<script>
    async function like(event){
        const postId = event.target.getAttribute("url");
        const res = await axios.post("like/likes",{postId:postId});
        if (res.data.code==200){
            alert("좋아요");
        }
        else{
            alert("취소");
        }
    }
</script>

</body>

</html>