<script type="text/javascript" src="/static/js/navbar.js"></script>
<script type="text/javascript" src="/static/js/board.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="/static/css/navbar.css">
<link rel="stylesheet" href="/static/css/board.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid nav-container">
    <a class="navbar-brand" href="/"><img src="/static/image/logo.png"></a>
    <form id="searchUserForm" class="d-flex" role="search">
      <input id="searchUser" class="me-2 nav-input" type="search" placeholder="&#x1F50D" aria-label="Search">
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/chat"><i class="fa-regular fa-comments"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-regular fa-square-plus"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/explore"><i class="fa-regular fa-compass"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"><i value="0" class="fa-regular fa-heart">
              <div class="notification">0</div>
            </i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile"><i class="fa-regular fa-user"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">새 게시글 작성</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin: 0; padding:0;"></button>
      </div>
      <div class="modal-body">
        <input type="file" accept="video/*,image/*" name="files" id="postingFile" multiple><br>
        <div></div><br><br>
        <textarea class="form-control" rows="5" id="content" name="contents" placeholder="내용 입력."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="postingBtn" onclick="posting()">게시하기</button>
      </div>
    </div>
  </div>
</div>



<!-- 게시물 모달 -->
<div class="modal" id="boardModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body board-body" id="board-main"></div>
    </div>
  </div>
</div>

<!-- 좋아요 모달 -->
<div class="modal" id="likeModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Like-title">좋아요 리스트</h5>
        <button type="button" class="btn-close" style="margin: 0; padding: 0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="llist"></div>
    </div>
  </div>
</div>

<!-- 댓글 모달 -->
<div class="modal" id="commentModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Comment-title">댓글</h5>
        <button type="button" class="btn-close" style="margin: 0; padding: 0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="clist"></div>
    </div>
  </div>
</div>