<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>잘못된 접근</title>
    <style>
        body{
            background-color: #F9F4D9;
        }
        @font-face {
            font-family: 'HallymGothic-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
            font-weight: 400;
            font-style: normal;
        }
        * {
            font-family: 'HallymGothic-Regular';
        }
        h1{
            margin-top: 150px;
            text-align: center;
            margin-bottom: 0px;
        }
        h2{
            margin-top: 0px;
            text-align: center;
        }
        a{
            display: block;
            text-align: center;
            text-decoration: none;
            color:#87C228;;
        }
        div{
            text-align: center;
        }
        img{
            margin-top: 20px;
            height: 100px;
            width:150px;
        }
    </style>
</head>
<body>
    <div><a href="/"><img src="/static/image/logo.png" alt=""></a></div>
    <h1>404에러</h1>
   <h2>요청한 페이지를 찾을 수 없어요!</h2>
   <a href="/">홈으로</a>
</body>
</html>