<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 상단부 -->
  <div>
    <img src="<%=data.profile%> " style="width: 200px; height: 200px;">
    <form action="/mypage" method="post">
      <button>프로필편집</button>
    </form>
    <div><%=data.nickName %> </div>
    <div>
      <div><span>게시물</span><span>1</span></div>
    </div>
    <div>
      <div><span>팔로잉</span><span>1</span></div>
    </div>
    <div>
      <div><span>팔로워</span><span>1</span></div>
    </div>
  </div>

  <!-- 게시글 탭 -->
  <div>
    <div><span>🏠</span><span>📚</span></div>
  </div>

  <!-- 게시글 본문 -->
  <div>

  </div>


</body>

</html>