@font-face {
    font-family: "HallymGothic-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
      format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  body{
      font-family: 'HallyGothic-Regular';
  }
  html {
    min-width: 1000px;
  }
  .chatWrapper {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chatList {
    margin-top: 20px;
    display: inline-block;
    width: 1000px;
    height: 600px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 4px 12px;
    position: relative;
    text-align: center;
    background-color: rgb(250, 255, 250);
  }
  .chatCard {
    overflow-y: auto;
    overflow-x: none;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 4px 12px;
    width: 440px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    height: 550px;
    margin-top: 25px;
    background-color: white;
    display: inline-block;
  }
  .chatHeader {
   
    font-family: "HallymGothic-Regular";
    font-size: 20px;
    text-align: center;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    background-color: #f9f4d9;
  }
  .chatFooter {
    height: 50px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f9f4d9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .noFollow{
      font-size: 15px;
      margin-top: 200px;
  }
  .chatHeader span {
    display: block;
    padding-top: 10px;
  }
  .followWrapper{
    position: relative;
      height:50px;
      width: 100%;
      background-color: white;
  }
  .roomWrapper{
      cursor: pointer;
      position:relative;
      height:50px;
      width: 100%;
      background-color: white;
  }
  .roomWrapper img{
      border-radius: 100%;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      position:absolute;
      top:10px;
      left:25px;
  }
  .roomNickName{
      display: flex;
      position:absolute;
      flex-direction: column;
      top:5px;
      left:65px;
  }
  .roomNickName span:nth-child(2){
    color:rgb(0,0,0,0.4);
    font-size: 11px;
}
.roomNickName span{
    text-align: left;
}
  .followWrapper img{
    cursor:pointer;
    border-radius: 100%;
    width:30px;
    height:30px;
    position:absolute;
    top:10px;
    left:25px;

  }
  .chatNickName{
      display: flex;
      position: absolute;
      flex-direction: column;
      top:5px;
      left:65px;
  }
  .chatNickName span:nth-child(2){
      color:rgb(0,0,0,0.4);
      font-size: 11px;
  }
  .chatNickName span{
      text-align: left;
      cursor:pointer;
  }
  .chatFlag{
      margin-top: 10px;
      position:absolute;
      display: flex;
      justify-content: space-between;
      width:70px;
      right:120px;
  }
  .userActive{
      margin-top: 4px;
      background-color: rgb(54,203,64);
      width: 15px;
      height: 15px;
      border-radius: 100%;
  }
  .userInactive{
      margin-top: 4px;
      background-color: red;
      width: 15px;
      height: 15px;
      border-radius: 100%;
  }
.chatButton{
    margin-top: 10px;
    font-size: 11px;
    position:absolute;
    right:20px;
    width:60px;
    border: none;
    border-radius: 5px;
    background-color: #87C228;
    color: white;
    padding: 5px 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.roomTime{
    font-size: 11px;
    position:absolute;
    right:10px;
    color:rgb(0,0,0,0.4);

}
