.recProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.recUser {
    margin: 10px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recUserEmail {
    font-family: 'HallymGothic-Regular';
    color: rgb(140, 140, 140);
    font-size: 12px !important;
}

.recUserName {
    font-weight: bolder;
    font-family: 'HallymGothic-Regular';
    font-size: 15px !important;
}

.recCnt {
    font-family: 'HallymGothic-Regular';
    color: rgb(140, 140, 140);
    font-size: 12px !important;
}

.recBottmom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}

.followButton {
    height: 30px;
    right: 10px;
    bottom: 0px;
    border: none;
    border-radius: 5px;
    background-color: #87C228;

    color: white;
    padding: 5px 9px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-right: 10px;
}